#GLOBAL
FALKORDB_PASSWORD=
ADMIN_PASSWORD=
RUN_NODE=1
RUN_SENTINEL=0
RUN_METRICS=1
RUN_HEALTH_CHECK=1
TLS=false

# SENTINEL
SENTINEL_PORT=26379
SENTINEL_DOWN_AFTER=1000
SENTINEL_FAILOVER=1000

# FALKORDB NODE
SENTINEL_HOST=localhost
NODE_HOST=localhost
NODE_PORT=6379
MASTER_NAME=master
SENTINEL_QUORUM=2


# INTERNAL
FALKORDB_MASTER_HOST=localhost
FALKORDB_MASTER_PORT_NUMBER=6379
IS_REPLICA=0
ROOT_CA_PATH=/etc/ssl/certs/GlobalSign_Root_CA.pem
TLS_MOUNT_PATH=/etc/tls
DATA_DIR=/data