{{- include "falkordb-cluster.clusterCommon" . }}
  clusterDef: falkordb
  topology: {{ .Values.mode }}
{{- if eq .Values.mode "cluster" }}
  shardings:
{{- include "falkordb-cluster.shardingSpec" . | indent 4 }}
{{- else }}
  componentSpecs:
{{- if eq .Values.mode "replication" }}
    {{- include "falkordb-cluster.componentSpec" . | indent 4 }}
    {{- include "falkordb-cluster.sentinelComponentSpec" . | indent 4 }}
{{- else }}
    {{- include "falkordb-cluster.componentSpec" . | indent 4 }}
{{- end }}
{{- end }}
