apiVersion: v1
kind: Service
metadata:
  annotations:
    external-dns.alpha.kubernetes.io/hostname: {{ .Values.hostname | quote }}
  name: {{ include "falkordb-cluster.fullname" . }}-external
  namespace: {{ .Release.Namespace }}
spec:
  internalTrafficPolicy: Cluster
  ipFamilies:
  - IPv4
  ipFamilyPolicy: SingleStack
  {{- if .Values.nodePortEnabled }}
  type: NodePort
  {{- else }}
  clusterIP: None
  type: ClusterIP
  {{- end }}
  ports:
    - name: falkordb
      port: {{ .Values.port }}
      protocol: TCP
      targetPort: {{ .Values.port }}
  selector:
    app.kubernetes.io/managed-by: kubeblocks
    apps.kubeblocks.io/component-name: falkordb
  sessionAffinity: None
---
{{- if eq .Values.mode "replication" }}
apiVersion: v1
kind: Service
metadata:
  annotations:
    external-dns.alpha.kubernetes.io/hostname: {{ printf "sentinels.%s" .Values.hostname | quote }}
  name: {{ include "falkordb-cluster.fullname" . }}-sentinels-external
  namespace: {{ .Release.Namespace }}
spec:
  internalTrafficPolicy: Cluster
  ipFamilies:
  - IPv4
  ipFamilyPolicy: SingleStack
  {{- if .Values.nodePortEnabled }}
  type: NodePort
  {{- else }}
  clusterIP: None
  type: ClusterIP
  {{- end }}
  ports:
    - name: sentinel
      port: 26379
      protocol: TCP
      targetPort: 26379
  selector:
    app.kubernetes.io/managed-by: kubeblocks
    apps.kubeblocks.io/component-name: falkordb-sent
  sessionAffinity: None
{{- end }}