apiVersion: v1
kind: Service
metadata:
  annotations:
    external-dns.alpha.kubernetes.io/endpoints-type: {{ .Values.externalService.endpointsType | default "NodeExternalIP" }}
    external-dns.alpha.kubernetes.io/hostname: {{ .Values.externalService.hostname | quote }}
    external-dns.alpha.kubernetes.io/ttl: {{ .Values.externalService.ttl | quote }}
  name: {{ include "falkordb-cluster.fullname" . }}-external
  namespace: {{ .Release.Namespace }}
spec:
  internalTrafficPolicy: Cluster
  ipFamilies:
  - IPv4
  ipFamilyPolicy: SingleStack
  {{- if .Values.nodePortEnabled }}
  type: NodePort
  {{- else }}
  clusterIP: None
  type: ClusterIP
  {{- end }}
  ports:
    {{- toYaml .Values.externalService.ports | nindent 4 }} 
  selector:
    app.kubernetes.io/managed-by: kubeblocks
    apps.kubeblocks.io/component-name: falkordb
  sessionAffinity: None